<div class="container-divider categories-divider"></div>
<div class="subnav">
    <div class="subnav__search">
        {{search submit=false}}
    </div>
   <div class="subnav__breadcrumbs">
      <a href="/hc/en-gb" title="Return to Home" class="breadcrumbs-btn">
      Return to Home
    </a>
   </div>
  </div>

<div class="main__container">
  
  <div class="col-left">
    <ul class="side-bar-custom">
{{!--       <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357252-Exclaimer-Cloud-Mail-Archiver">Exclaimer Cloud Mail Archiver</a>
      </li> --}}
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011468751-Getting-Started">Getting Started</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357132-Basic-Configuration">Basic Configuration</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357112-Advanced-Configuration">Advanced Configuration</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357192-Outlook-Extensions">Outlook Extensions</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357232-Searching">Searching</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357212-Results">Results</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357172-History">History</a>
      </li>
      <li>
        <a class="sidenav-item" href="/hc/en-gb/sections/360011357152-Filters">Filters</a>
      </li>
    </ul>
  </div>

  <div class="col-right">
    <h2 class="section-title">
      <strong>
        {{section.name}}
      </strong>
    </h2>
    {{#if section.sections}}
        <ul class="sub-section">
          {{#each section.sections}}
            <li class="sub-section-li">
              <a href="{{url}}">
                <span>{{name}}</span>
              </a>
              <a href="{{url}}" class="article-list-link-btn">View Section</a>
            </li>
          {{/each}}
          <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
        </ul>
      {{/if}}

      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              <a href="{{url}}" class="article-list-link-btn">View article</a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
  </div>
</div>